
 <div class = "header" >
  <%= render "header" %>
</div>

<div class="wrapper">
  <div class= "side_bar">
    <%= render "side_bar" %>
  </div>

  <div class ="main_posts">
    <%= render pertial: "main", collection: @posts %>
  </div>

</div>


